.dots {
  display: inline;
}
.row {
  padding-top: 5px;
  padding-bottom: 2px;
  position: relative;
}

.row:not(:last-child) {
  border-left: 1px dashed black;
}

.row:last-child:before{
  content : "";
  position: absolute;
  top : 0;
  height : 18px; 
  border-left: 1px dashed black;
}